p#normal {
    font-family: arial,helvetica;
    font-size: 11px;
    font-weight: bold;
    }
    /* font-family especifica la prioridad de las fuentes con las que se mostraran los textos;
    font-size indica el tamanio que tendra la letra; font-weight especifica el grosor de esta
    El selector p: Representa a todos los párrafos con el id #normal, por lo tanto
    el estilo se aplicará a esos casos*/

    *#destacado {
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    }
    /* border-style define en una única regla todos los bordes de los elementos seleccionados;
    border-color indica el color que este tendra; border-width especifica el ancho de este borde
    El selector universal: De forma automática, el asterisco selecciona todos los
    elementos en un documento, tambien tiene el selector por id que responde a
    #destacado, por lo tanto el estilo se aplicará a todos los elementos que tengan
    el id #destacado */

    #distinto {
    background-color: #9EC7EB;
    color: red;
    }
    /*background-color es un propiedad que define el color de fondo de un elemento; color define 
    el color del elemento; 
    El selector de id: El estilo se aplicará al elemento que tenga el 
    id #distinto */

    <p id="normal">Este es un párrafo</p>
    <p id="destacado">Este es otro párrafo</p>
    <table id="destacado"><tr><td>Esta es una tabla</td></tr></table>
    <p id="distinto">Este es el último párrafo</p>
